* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Backdrop for contain fit */
}

.image-wrapper {
    position: relative;
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}

.responsive-image {
    display: block;
    max-height: 100vh;
    max-width: 100vw;
    width: auto;
    height: auto;
}

.map-link {
    position: absolute;
    display: block;
    /* Semi-transparent to see the image text */
    opacity: 0; 
    cursor: pointer;
}

.map-link.phone {
    /* background-color: white; */
}

.map-link.instagram {
    /* background-color: white; */
}


/* For image map responsiveness */
img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}
